---
BasedOnStyle: Microsoft
IndentWidth: '4'
Language: Cpp
SpaceInEmptyParentheses: 'false'
SpacesInCStyleCastParentheses: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
TabWidth: '4'
UseTab: Never
InsertFinalNewline: true
PointerAlignment: Left
SortIncludes: 'false'
KeepEmptyLinesAtTheStartOfBlocks: true
IndentAccessModifiers: false


...
