build/.vs/
build/packages/
source/*/bin
source/*/obj
source/Tools/*/bin
source/Tools/*/obj
*.user
content/Shaders/SkyboxVS.hlsl
content/Shaders/SkyboxVS.cso
content/Shaders/SkyboxPS.hlsl
content/Shaders/SkyboxPS.cso
content/Shaders/BasicVS.hlsl
content/Shaders/BasicVS.cso
content/Shaders/BasicPS.hlsl
content/Shaders/BasicPS.cso
content/Models/Sphere.obj.bin
content/Fonts/Arial_14_Regular.spritefont
build/obj/
build/bin/
content/Shaders/TexturedQuadPassThroughVS.cso
content/Shaders/TexturedModelVS.cso
content/Shaders/TexturedModelPS.cso
content/Shaders/DepthMapVS.hlsl
content/Shaders/DepthMapVS.cso
content/Shaders/BloomPS.cso
content/Shaders/GaussianBlurPS.cso
